.app-style {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  gap: 12px;
}
.square-style {
  padding: 12px 24px 24px;
  border-radius: 12px;
  width: 270px;
  border: 3px solid #00796b;

  display: block;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}
.square-style > strong {
  font-size: 25px;
}
.square-style > p {
  font-size: 20px;
}

.header {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border: 1px solid #dddcdc;
}
.title-content {
  padding: 0 10px;
  align-items: center;
  gap: 20px;
  height: 100px;
  justify-content: space-between;
  display: flex;
  background-color: #dddcdc;
  border-radius: 15px;
  border: 0px solid black;
}
.main {
  max-width: 1200px;
  min-width: 800px;
}
.gp {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}
.input-box {
  border: none;
  border-radius: 12px;
  height: 40px;
  padding: 0 12px;
  width: 240px;
}
.title {
  display: flex;
  align-items: center;
  gap: 20px;
}
